h1,h2,h3,h4,h5,h6{font-family: 'Poppins', sans-serif;}
p{font-family: 'Poppins', sans-serif;}
.nomatch{
    background: rgb(248, 235, 56);
    height: 100vh;
    text-align: center;
    color: red;
    overflow:hidden;
}
.nomatch-style{
    margin-top: 15rem;
}
.nomatch-style h2{font-size: 4rem;}
.nomatch-style h1{font-size: 3rem;}