h1,h2,h3,h4,h5,h6{font-family: 'Poppins', sans-serif;}
p{font-family: 'Poppins', sans-serif;}
.header{
    height: 20rem;
    width: 100%;
    position: relative;
    z-index: 1;
}
.header img{
    height: 100%;
    width:100%;
    z-index: 2;
}
.header .badge{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
}
.header .badge img{
    width: 10rem;
    height: auto;
}
.fluid{background: #1A1A1C;}
.detail{
    background: #950741;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
}
.description{
    color: #fff;
    margin-top: 3rem;
}
.social-links a{
    font-size: 2rem;
    display: inline-block;
    margin: 1rem;
    color: #fff;
}
.social-links{
    text-align: center;
    border-bottom: .1rem solid lightgray;
}

.author{
    padding:1rem 0;
    color: #fff;
}
.author a{
    text-decoration: none;
    color:lightgray;
}